<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 웹과 직접 연관 없는 Bean들을 등록 -->
    <context:annotation-config />
    <context:component-scan base-package="himedia.myportal, learnbyteaching.todos">
      <!-- Repository, Service 등만 등록 -->
      <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
      <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
      <context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
      <!-- Controller는 제외 -->
      <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    
    <!--  Oracle Datasource -->
    <bean id="oracleDatasource" class="oracle.jdbc.pool.OracleDataSource">
    <property name="URL" value="jdbc:oracle:thin:@localhost:1521:xe" />
    <property name="user" value="himedia" />
    <property name="password" value="himedia" />
    <property name="implicitCachingEnabled" value="true" />
    <qualifier value="main-db" />
    </bean>
    <!-- MyBatis SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="oracleDatasource" />
    	<property name="configLocation" value="classpath:/mybatis/configuration.xml" />     
    </bean>
    
    <!-- MyBatis SqlSessionTemplate -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    
</beans>